
/* @button-colour: #009ED8; 
@button-colour: #00BCD4; */
@button-colour: #00BCD4;
@button-text: #ffffff;
@regular-text: #333;
@button-tint: fadeout(#000, 90%);
@background: #E6FAE9;


body {
	background: linear-gradient(#0f88f2,#0f88f2);
		text-align: center;
	text-rendering: auto;
		padding: 18%;
	padding-top: 25vh; 
	font-family: Arial, Helvetica, sans-serif;
}

.navbar-nav > li{
  padding-left:12px;
  margin-left:2px;
  padding-right:12px;
  margin-left:1px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
}

.button {
	display: inline-block;
	font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	position: relative;
	padding: .8em 1.4em;
	padding-right: 4em;
	background: @button-colour;
	border: none;
	color: white;
	transition: .2s;
	&:before,
	&:after {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		padding-top: inherit;
		padding-bottom: inherit;
		width: 2.8em;
		content: "\00a0";
		font-family: 'FontAwesome', sans-serif;
		font-size: 1.2em;
		text-align: center;
		
		transition: .2s;
		transform-origin: 50% 60%;
	}
	&:before {
		background: @button-tint;
	}
	&:hover {
		background: darken(@button-colour, 10%);
	}
	&:active,
	&:focus {
		background: darken(@button-colour, 30%);
		outline: none;
	}
}

.button23 {
	min-width: 8em;
}

.arrow {
	background: #FE5F55;
	&:hover {
		background: darken(#FE5F55, 10%);
	}
	&:active,
	&:focus {
		background: darken(#FE5F55, 30%);
	}
	&:after {
		content: "\F054";
	}
	&:hover:after {
		-webkit-animation: bounceright .3s alternate ease infinite;
		animation: bounceright .3s alternate ease infinite;
	}
}

.phone { 
	background: #139675;
	&:hover {
		background: darken(#139675, 10%);
	}
	&:active,
	&:focus {
		background: darken(#139675, 20%);
	}
	&:after {
		content: "\F095";
	}
	&:hover:after {
		-webkit-animation: wiggle .05s alternate ease infinite;
		animation: wiggle .05s alternate ease infinite;
	}
}

.email {
	background: #C673B3;
	&:hover {
		background: darken(#C673B3, 10%);
	}
	&:active,
	&:focus {
		background: darken(#C673B3, 20%);
	}
	&:after {
		content: "\F0E0";
	}
	&:hover:after {
		-webkit-animation: none;
		-webkit-transform: skew(-20deg);
		animation: none;
		transform: skew(-20deg);
		text-indent: .1em;
	}
}

.search {
	&:after {
		content:"\f002";
	}
	&:hover:after {
		-webkit-animation: none;
		-webkit-transform: scale(1.4);
		animation: none;
		transform: scale(1.4);
	}
}


@-webkit-keyframes bounceright {
	from { -webkit-transform: translateX(0); }
	to   { -webkit-transform: translateX(3px); }
}

@-webkit-keyframes wiggle {
	from { -webkit-transform: rotate(0deg); }
	to   { -webkit-transform: rotate(30deg); }
}

@keyframes bounceright {
	from { transform: translateX(0); }
	to   { transform: translateX(3px); }
}

@keyframes wiggle {
	from { transform: rotate(0deg); }
	to   { transform: rotate(30deg); }
}

#bse-title {
	font-size: 48px; 
	color:white; 
	position:relative; 
	z-index:10;
}

#bse-subtitle {
	color:white; 
	position:relative; 
	z-index:10;
	padding-bottom: 25px;
	font-size: 1.3rem;
}

#blockchainSelector {
    position: relative;
    z-index: 200;
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    font-size: 1.2rem;
    background-color: white;
	text-align-last: center;
	margin-bottom: 10px; 
}

.blockchainSelector:after {
    content:"sdfsdf";
    width:0;
    height:0;
    border:5px solid transparent;
    border-color:black transparent transparent transparent;
    position:absolute;
    top:9px;
    right:6px;
}

.frm {
	float: left; 
	width:100%; 
	margin-bottom: 10px; 
	position:relative; 
	z-index:10
}

input[type="text"]::placeholder { 
	text-align: center;
}

input[type="text"]:-ms-input-placeholder {
	text-align: center;
}

.header-main {
	background-color: #0277BD !important;
    opacity: 0.9 !important;
}